*{
	padding: 0;
	margin: 0;
	font-family: "basic-sans", sans-serif;
}
body{
	background-color: #eaeaea;
}
/* Header CSS with Navbar*/
header{
	height: 60px;
	width: 100%;
	background-color: #212F3D;
}

header h1{
	line-height: 60px;
	text-align: center;
	color: #D0D3D4;
}

nav{
	height: 60px;
	background-color: #283747;
}

 .show{
    display: block;
  }

nav p{
	color: white;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	display: none;
}

nav ul {
	text-align: center;
	line-height: 60px;
}

nav ul li{
	display: inline-block;
}
nav ul li a:hover{
	background-color: white;
	color: black;
}

nav ul li a{
	padding: 22px;
	text-decoration: none;
	color: #D0D3D4;
	font-weight: bold;
}





/* Keeping everything center */

.area{
	max-width: 1100px;
	margin: 0px auto;
	color: #2d3436;
	/*-webkit-box-shadow: -19px 21px 17px -24px rgba(0,0,0,0.75);
	-moz-box-shadow: -19px 21px 17px -24px rgba(0,0,0,0.75);
	box-shadow: -19px 21px 17px -24px rgba(0,0,0,0.75);*/
	background-color:#f7f7f7;
	
}

/* Result area */
.area .word-search{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px;
	min-height: 110px;
}
.area .word-search h2{
	width: 100%;
	text-align: center;
}

.area .word-search input{
	padding: 10px;
	font-size: 18px;
	margin: 15px 5px;
	font-weight: bold;
	border:none;
	outline: 1px solid black;
}

.area .word-search button{
	padding: 10px;
	font-size: 18px;
	margin: 15px 5px;
	font-weight: bold;
	background-color: #283747;
	color:white;
}





/* responsive nav button */
@media only screen and (max-width: 700px){
	nav p{
		display: block;
	}

	nav ul{
		display: none;
		background-color: #34495E;
		z-index: 999;
		position: relative;
	}

	nav ul li {
		display: block;
	}

	.hidden{
 		display: none;
 	}
}

@media only screen and (max-width: 450px){
	.area .word-search input{
	padding: 9px;
	font-size: 16px;
	margin: 10px 2px;
	font-weight: bold;
	border:none;
	outline: 1px solid black;
	width: 55%;
}

.area .word-search button{
	padding: 9px;
	font-size: 16px;
	margin: 10px 2px;
	font-weight: bold;
}
}




/* Others and sidebar */



/* footer */
footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	list-style: none;

}
footer .footer-box{
	width: 50%;
	height: 200px;
	background-color: #283747;
}

footer li {
	list-style: none;
	padding-top: 7px;
}

footer .footer-box a, footer .footer-box h3{
	padding: 20px;
	text-decoration: none;
}

footer .copyright{
	width: 100%;
	text-align: center;
	line-height: 90px;
	height: 90px;
	background-color: #212F3D;
}
.footer-box a,.copyright a{
	padding: 10px;
	color: white;
}

